In [ ]:
data : list[str] = ["Muhammad Aslam","Muhammad Qasim","MSDS"]

print(data[1])

Muhammad Qasim

In [ ]:
data : set = {7,1,2,1,1,1,1,3,2}
print(data)

{1, 2, 3, 7}

In [ ]:
[i for i in dir(data) if "__" not in i]

['add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

#Dictionary


* key:value (items)
    * key replacement of indexes  
    * value item  
* dict_variable[key]  
    * dict_variable[new_key] = new_value
      * add new value  
      * update value

In [ ]:
from typing import Dict
import pprint
data : Dict[str,str] = {
                        "fname":"Muhammad Aslam",
                        "name":"Muhammad Qasim",
                        "education": "MSDS"
                        }

pprint.pprint(data)

{'education': 'MSDS', 'fname': 'Muhammad Aslam', 'name': 'Muhammad Qasim'}

In [ ]:
from typing import Dict
import pprint
data : Dict[str,str] = {
                        "fname":"Muhammad Aslam",
                        "name":"Muhammad Qasim",
                        "education": "MSDS"
                        }
print(data)

{'fname': 'Muhammad Aslam', 'name': 'Muhammad Qasim', 'education': 'MSDS'}

In [ ]:
from typing import Dict, Union, Optional
import pprint


Key = Union[int,str]
Value = Union[int, str, list, dict, tuple, set]
data : Dict[Key,Value] = {
                        "fname":"Muhammad Aslam",
                        "name":"Muhammad Qasim",
                        "education": "MSDS"
                        }

pprint.pprint(data)

{'education': 'MSDS', 'fname': 'Muhammad Aslam', 'name': 'Muhammad Qasim'}

In [ ]:
from typing import Dict, Union, Optional
import pprint


Key = Union[int,str]
Value = Union[int, str, list, dict, tuple, set]
data : Dict[Key,Value] = {
                        "fname":"Muhammad Aslam",
                        "name":"Muhammad Qasim",
                        "education": "MSDS"
                        }

pprint.pprint(data)
print(data["name"])
print(data['fname'])
print(data['education'])

{'education': 'MSDS', 'fname': 'Muhammad Aslam', 'name': 'Muhammad Qasim'}
Muhammad Qasim
Muhammad Aslam
MSDS

In [ ]:
from typing import Dict, Union, Optional
import pprint

Key = Union[int,str]
Value = Union[int, str, list, dict, tuple, set]
data : Dict[Key,Value] = {
                        "fname":"Muhammad Aslam",
                        "name":"Muhammad Qasim",
                        "education": "MSDS",
                        0 : "Pakistan"
                        }

pprint.pprint(data)
print(data["name"])
print(data['fname'])
print(data['education'])
print(data[0])

{0: 'Pakistan',
 'education': 'MSDS',
 'fname': 'Muhammad Aslam',
 'name': 'Muhammad Qasim'}
Muhammad Qasim
Muhammad Aslam
MSDS
Pakistan

In [ ]:
from typing import Dict, Union, Optional
import pprint


Key = Union[int,str]
Value = Union[int, str, list, dict, tuple, set]


data : Dict[Key,Value] = {
                        "fname":"Muhammad Aslam",
                        "name":"Muhammad Qasim",
                        "education": "MSDS",
                        [1,2,3] : "Pakistan",
                        (1,2,3) : "Pakistan",
                         {1,2,3} : "pakistan",
                        }

pprint.pprint(data)
print(data["name"])
print(data['fname'])
print(data['education'])

TypeError: unhashable type: 'list'

In [ ]:
from typing import Dict, Union, Optional
import pprint


Key = Union[int,str]
Value = Union[int, str, list, dict, tuple, set]
data : Dict[Key,Value] = {
                        "fname":"Muhammad Aslam",
                        "name":"Muhammad Qasim",
                        "education": "MSDS",
                        "abc" : [1,2,3],
                        'xyz': {1,2,3},
                        'efg' : (1,2,3),
                        'cde' : {"a":1, "b":2}
                        }

pprint.pprint(data)
print(data["name"])
print(data['fname'])

print(data['xyz'])

{'abc': [1, 2, 3],
 'cde': {'a': 1, 'b': 2},
 'education': 'MSDS',
 'efg': (1, 2, 3),
 'fname': 'Muhammad Aslam',
 'name': 'Muhammad Qasim',
 'xyz': {1, 2, 3}}
Muhammad Qasim
Muhammad Aslam
{1, 2, 3}

In [ ]:
abc : set = {1,2,3,2,2,2,1}
print(abc)
xyz : list[int] = list(abc)
print(xyz)

{1, 2, 3}
[1, 2, 3]

In [ ]:
from typing import Dict, Union, Optional
import pprint


Key = Union[int,str]
Value = Union[int, str, list, dict, tuple, set]
data : Dict[Key,Value] = {
                        "fname":"Muhammad Aslam",
                        "name":"Muhammad Qasim",
                        "education": "MSDS",
                        "abc" : [1,2,3],
                        'xyz': {1,2,3},
                        'efg' : (1,2,3),
                        'cde' : {"a":1, "b":2}
                        }

data['cde']['b']

2

In [ ]:
from typing import Dict, Union, Optional
import pprint


Key = Union[int,str]
Value = Union[int, str, list, dict, tuple, set]

data : dict[Key,Value] = {}

data['name'] = "Muhammad Qasim"
data['fname'] = "Muhammad Aslam"
data['education'] = "MSDS"

print(data)

{'name': 'Muhammad Qasim', 'fname': 'Muhammad Aslam', 'education': 'MSDS'}

In [ ]:
from typing import Dict, Union, Optional
import pprint


Key = Union[int,str]
Value = Union[int, str, list, dict, tuple, set]

data : dict[Key,Value] = {}
print(data)

{}

In [ ]:
from typing import Dict, Union, Optional
import pprint


Key = Union[int,str]
Value = Union[int, str, list, dict, tuple, set]

data : Dict[Key,Value] = {
                        "fname":"Muhammad Aslam",
                        "name":"Muhammad Qasim",
                        "education": "MSDS"}



print(data['pakistan'])

[i for i in dir(data) if "__" not in i]

KeyError: 'pakistan'

In [ ]:
from typing import Dict, Union, Optional
import pprint


Key = Union[int,str]
Value = Union[int, str, list, dict, tuple, set]

data : Dict[Key,Value] = {
                        "fname":"Muhammad Aslam",
                        "name":"Muhammad Qasim",
                        "education": "MSDS"}


print(data.get('pakistan',"NA"))
print(data.get('name',"NA"))

NA
Muhammad Qasim

In [ ]:
from typing import Dict, Union, Optional
import pprint


Key = Union[int,str]
Value = Union[int, str, list, dict, tuple, set]

data : Dict[Key,Value] = {
                        "fname":"Muhammad Aslam",
                        "name":"Muhammad Qasim",
                        "education": "MSDS"}


for d in data:
    print(d)

fname
name
education

In [ ]:
from typing import Dict, Union, Optional
import pprint


Key = Union[int,str]
Value = Union[int, str, list, dict, tuple, set]

data : Dict[Key,Value] = {
                        "fname":"Muhammad Aslam",
                        "name":"Muhammad Qasim",
                        "education": "MSDS"}


print(data.keys())
print(data.values())
print(data.items())

for k in data.keys():
    print(k)

dict_keys(['fname', 'name', 'education'])
dict_values(['Muhammad Aslam', 'Muhammad Qasim', 'MSDS'])
dict_items([('fname', 'Muhammad Aslam'), ('name', 'Muhammad Qasim'), ('education', 'MSDS')])
fname
name
education

In [ ]:
from typing import Dict, Union, Optional
import pprint


Key = Union[int,str]
Value = Union[int, str, list, dict, tuple, set]

data : Dict[Key,Value] = {
                        "fname":"Muhammad Aslam",
                        "name":"Muhammad Qasim",
                        "education": "MSDS"}

print(data.keys())
print(data.values())
print(data.items())

for v in data.values():
    print(v)

dict_keys(['fname', 'name', 'education'])
dict_values(['Muhammad Aslam', 'Muhammad Qasim', 'MSDS'])
dict_items([('fname', 'Muhammad Aslam'), ('name', 'Muhammad Qasim'), ('education', 'MSDS')])
Muhammad Aslam
Muhammad Qasim
MSDS

In [ ]:
from typing import Dict, Union, Optional
import pprint


Key = Union[int,str]
Value = Union[int, str, list, dict, tuple, set]

data : Dict[Key,Value] = {
                        "fname":"Muhammad Aslam",
                        "name":"Muhammad Qasim",
                        "education": "MSDS"}


print(data.keys())
print(data.values())
print(data.items())

for k,v in data.items():
    print(k,v)

dict_keys(['fname', 'name', 'education'])
dict_values(['Muhammad Aslam', 'Muhammad Qasim', 'MSDS'])
dict_items([('fname', 'Muhammad Aslam'), ('name', 'Muhammad Qasim'), ('education', 'MSDS')])
fname Muhammad Aslam
name Muhammad Qasim
education MSDS

In [ ]:
a : int = 7
b : int = 9

a, b = b, a

print(a,b)

9 7

In [ ]:
keys : list[str] = ['id','name','fname','course']

data : dict[Key,Value] = {}

print(data)

data = data.fromkeys(keys)

print(data)

{}
{'id': None, 'name': None, 'fname': None, 'course': None}