In [ ]:
name1 : str = "Qasim"
name2 : str = "sir zia"
name3 : str = "sir inam"

# #**list**

* dynamic length  
* heterogenous data types(multilpe types)  
*index   
       * positive 0 to n-1
       * negative -1 to length   
*slicing   
       *variable names[start:end:step]    
       * start : int = include  
       * enb : int =  n-1
       *step : int = sequence

In [ ]:
names = ["ali","hassan","eman"]
print(names[0])
print(names[2])
print(names[-3])

ali
eman
ali

In [ ]:
from typing import Any
names : list[Any] = ["ali","hassan","eman",20,True]
print(names[-3])

eman

In [ ]:

names : list[Any] = ["ali","hassan","eman"]
print(type(names))
print(type(names[-2]))
print(f'Founder of PIAC {names[-2]}.upper()')

NameError: name 'Any' is not defined

In [ ]:
names : list[str] = ["ali","hassasn","eman",20,True ]
print(names[-2])

20

In [ ]:
"abcdefgh"

'abcdefgh'

In [ ]:
list("abcdef")

['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
characters : list[str] = list("ABCDEFGHIJKLMNOPQRSTUVWXYZ")
print(characters)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [ ]:
characters : list[str]= ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y','Z']
, 'Z']
#defination slicing from left to right]
print(characters[0:2])
print(characters[:2])
print(characters[-26:-24])
print(characters[0:2:1])
print(characters[0:2:])

['A', 'B']
['A', 'B']
['A', 'B']
['A', 'B']
['A', 'B']

In [ ]:
characters : list[str]= ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y','Z']
, 'Z']
print(characters[::])

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

In [ ]:
characters : list[str]= ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y','Z']
, 'Z']
print(characters[::2])

['A', 'C', 'E', 'G', 'I', 'K', 'M', 'O', 'Q', 'S', 'U', 'W', 'Y']

In [ ]:
characters : list[str]= ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K']
print(characters[1:-3])

['B', 'C', 'D', 'E', 'F', 'G', 'H']

In [ ]:
characters : list[str]= ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K']
print(characters[-2:-5])

[]

In [ ]:
characters : list[str]= ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K']
print(characters[-2:-5:-1])

['J', 'I', 'H']

In [ ]:
characters : list[str]= ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y','Z']
, 'Z']
print(characters[::-1])

['Z', 'Y', 'X', 'W', 'V', 'U', 'T', 'S', 'R', 'Q', 'P', 'O', 'N', 'M', 'L', 'K', 'J', 'I', 'H', 'G', 'F', 'E', 'D', 'C', 'B', 'A']

# **list methods**

In [ ]:
[i for i in dir(list) if "_" not in i]

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
a : list[str]  =  [1,2,3,4,5,6,7,8,9,10]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a : list[str] = [1,2,3,4,5,6,7,8,9,10]
del a # remove object from memory
print(a)

NameError: name 'a' is not defined

In [ ]:
a : list[str] = [1,2,3,4,5,6,7,8,9,10]
a.clear #remove all elements but object is remain
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#help

*   help(object)
*   object?
*   object??
*   ?object
*  ??object

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
names : list[Any] = ["Qasim","Sir Zia", "Sir Inam", 20, True]
print(names)

names[0] = "Muhammad Qasim" # mutable -> editable

print(names)

NameError: name 'Any' is not defined

In [ ]:
names : list[Any] = ["Qasim","Sir Zia", "Sir Inam", 20, True]
print(names)

del names[3] # delete 3 index element

print(names)

NameError: name 'Any' is not defined

In [ ]:
a : str = print("Pakistan") # none-return function
display(a)

Pakistan

None

In [ ]:
a : str = id(names) # return function
display(a)

133650145430976

In [ ]:
names : list[Any] = ["Qasim","Sir Zia", "Sir Inam", 20, True]

del names[3]
names

NameError: name 'Any' is not defined

# pop **method**

In [ ]:
names : list[Any] = ["Qasim","Sir Zia", "Sir Inam", 20, True]
print(names)
a : str = names.pop() # pop return method

print(a)

NameError: name 'Any' is not defined

In [ ]:
names : list[Any] = ["Qasim","Sir Zia", "Sir Inam", 20, True]
print(names)
a : str = names.pop(0) # pop return method

print(a)
print(names)

NameError: name 'Any' is not defined

# append method add element in last

In [ ]:
names : list[str] = ["a","b"]
names.append("Sir Zia")# add element in last
names.append("Sir Inam") # add element in last
names.append("Qasim")# add element in last

print(names)

['a', 'b', 'Sir Zia', 'Sir Inam', 'Qasim']

In [ ]:
names : list[str] = ['a','b','c','d']

print(names)

names.insert(1, "Qasim") # insert on perticular postion

print(names)

['a', 'b', 'c', 'd']
['a', 'Qasim', 'b', 'c', 'd']

In [ ]:
print(print("Pakistan zinda bad"))

Pakistan zinda bad
None

In [ ]:
a : list[str] = ['a','b','c']
b = a

print(a)
print(b)

['a', 'b', 'c']
['a', 'b', 'c']

In [ ]:
a : list[str] = ['a','b','c']
b = a # shallow copy
print(a)
print(b)

b[0] = 'pakistan' # change only b variable but both variable updated

print(a)
print(b)

['a', 'b', 'c']
['a', 'b', 'c']
['pakistan', 'b', 'c']
['pakistan', 'b', 'c']

In [ ]:
a : list[str] = ['a','b','c']
b = a.copy() # Deep copy
print("a",a)
print("b",b)

b[0] = 'pakistan' # change only b variable but both variable updated

print("a",a)
print("b",b)

a ['a', 'b', 'c']
b ['a', 'b', 'c']
a ['a', 'b', 'c']
b ['pakistan', 'b', 'c']

In [ ]:
names : list[str] = ['a','a','a','b','c','c']
print(names.count("c"))
print(names.count("a"))

2
3

In [ ]:
names : list[str] = ["Sir Zia","Muhammad Qasim"] # GenAI founder members

new_faculty_members : list[str] = ['Sir Inam',"Dr Noman"]

names.append(new_faculty_members)
names

['Sir Zia', 'Muhammad Qasim', ['Sir Inam', 'Dr Noman']]

In [ ]:
names : list[str] = ["Sir Zia","Muhammad Qasim"] # GenAI founder members

new_faculty_members : list[str] = ['Sir Inam',"Dr Noman"]

names.extend(new_faculty_members)

names

['Sir Zia', 'Muhammad Qasim', 'Sir Inam', 'Dr Noman']

In [ ]:
names : list[str] = ["Sir Zia","Muhammad Qasim",'Sir Inam',"Dr Noman"] # GenAI founder members


del names[1:3]

names

['Sir Zia', 'Dr Noman']

In [ ]:
names :list[str] = ['Sir Zia', 'Muhammad Qasim', 'Sir Inam', 'Dr Noman']

names.remove("Muhammad Qasim") # remove with text value

names

['Sir Zia', 'Sir Inam', 'Dr Noman']

In [ ]:
names :list[str] = ['Sir Zia', 'Muhammad Qasim', 'Sir Inam', 'Dr Noman']

names.index("Muhammad Qasim")

1

In [ ]:
names :list[str] = ['Sir Zia', 'Muhammad Qasim', 'Sir Inam', 'Dr Noman',"Muhammad Qasim"]

names.index("Muhammad Qasim")

1

In [ ]:
names :list[str] = ['Sir Zia', 'Muhammad Qasim', 'Sir Inam', 'Dr Noman',"Muhammad Qasim"]

names.index("Muhammad Qasim",2)

4

In [ ]:
names :list[str] = list("ACBDEF")
print(names)
names.reverse()
print(names)

['A', 'C', 'B', 'D', 'E', 'F']
['F', 'E', 'D', 'B', 'C', 'A']

In [ ]:
names :list[str] = list("ACBDEF")
print(names)
names.sort()
print(names)

['A', 'C', 'B', 'D', 'E', 'F']
['A', 'B', 'C', 'D', 'E', 'F']

In [ ]:
names :list[str] = list("ACBDEF")
print(names)
names.sort(reverse=True) #in-memory = change real data sort
print(names)

['A', 'C', 'B', 'D', 'E', 'F']
['F', 'E', 'D', 'C', 'B', 'A']

In [ ]:
names :list[str] = list("ACBDEF")
print(len(names))
names[25]

6

IndexError: list index out of range

In [ ]:
names :list[str] = list("ACBDEF")
print(len(names))
names[2]

6

'B'