#Loop and input from user


* while
* for  
* control

     * break  
     * continue  
     * pas
* input with input function  
* input from console  

#Loop working on iterative data types

*  list
*  dictionary
*  tupple
*  string

In [1]:
l1 : list[int] = [1,2,3,4,5,6]
print(l1)

[1, 2, 3, 4, 5, 6]

In [2]:
l1 : list[int] = [1,2,3,4,5,6]

for n in l1:
    print(n)

1
2
3
4
5
6

In [3]:
l1 : list[int] = [1,2,3,4,5,6]

for n in l1:
    print(f"current number :{n}")

current number :1
current number :2
current number :3
current number :4
current number :5
current number :6

In [4]:
l1 : tuple[int] = (1,2,3,4,5,6)

for n in l1:
    print(f"current number :{n}")

current number :1
current number :2
current number :3
current number :4
current number :5
current number :6

In [5]:
l1 : str = "Pakistan"

for c in l1:
    print(f"current character :{c}")

current character :P
current character :a
current character :k
current character :i
current character :s
current character :t
current character :a
current character :n

In [6]:
l1 : dict[str,str] = {"name":"Muhammad Qasim","fname":"Muhammad Aslam"}

for k in l1:
    print(f"dictionary key {k} and value is {l1[k]}")

dictionary key name and value is Muhammad Qasim
dictionary key fname and value is Muhammad Aslam

# We can directly perform iteration on set data type

In [7]:
l1 : set[int] = {1,2,3,4,1,1,1,1}

for k in l1:
    print(f"set item is  {k} ")

set item is  1
set item is  2
set item is  3
set item is  4

# Also apply iteration on set with type casting in list

In [8]:
l1 : list[set[int]] = list({1,2,3,4,1,1,1,1})

for k in l1:
    print(f"value from list of set : {k} ")

value from list of set : 1
value from list of set : 2
value from list of set : 3
value from list of set : 4

#input from user

* input function  
     * defualt type = string  
* sys.argv (for console input in abc.py file)
     * defualt type = str

In [9]:
name : str = input("What is your name? : \t")

print(type(name))

print(f"Welecom dear User Mr/Miss {name}!")

What is your name? : 	anzala
<class 'str'>
Welecom dear User Mr/Miss anzala !

In [10]:
names : list[str] = ['a','b','c']
fname : list[str] = ['x','y','z']
age : list[int] = [1,2,3]

zip(names,fname,age)

In [11]:
names : list[str] = ['a','b','c']
fname : list[str] = ['x','y','z']
age : list[int] = [1,2,3]

list(zip(names,fname,age))

for name,fn, ag in zip(names,fname,age):
    print(f"Welcome dear {name}, s/o {fn}!")

Welcome dear a, s/o x!
Welcome dear b, s/o y!
Welcome dear c, s/o z!

#While loop


* while logic: # True/False   
    * loop_body

In [12]:
flag : bool = True #flag

current_number : int = 0 #

while flag:
    print(f"current number is :{current_number}")
    current_number += 1

    if current_number == 10:

        break

current number is :0
current number is :1
current number is :2
current number is :3
current number is :4
current number is :5
current number is :6
current number is :7
current number is :8
current number is :9

In [13]:
l1: list[int] = [100,200,300]

index : int = 0

while index < len(l1):
    print(f"current index is :{index} and list value is {l1[index]}")
    index += 1

current index is :0 and list value is 100
current index is :1 and list value is 200
current index is :2 and list value is 300

In [20]:
data : list[dict[str,str]] = []

flag : bool = True

while flag:
    print("write quite or exit to stop this program")
    name : str = input ("Your good name ? \t:")
    eduction: str = input("Your last education? \t")

    if name in ['exit','quite','close','stop'] or eduction  in ['exit','quite','close','stop']:
        flag=False
        break
    data.append({"name":name,
                 "education": eduction})

display(data)    s

write quite or exit to stop this program
Your good name ? 	:a
Your last education? 	b
write quite or exit to stop this program
Your good name ? 	:c
Your last education? 	d
write quite or exit to stop this program
Your good name ? 	:stop
Your last education? 	quite

[{'name': 'a', 'education': 'b'}, {'name': 'c', 'education': 'd'}]

#controls

*  break
*  continue
     * skip
* pass

In [21]:
for i in range(1,11):
    print(i)
    if i == 5:
        break

1
2
3
4
5

In [22]:
for i in range(1,11):
    print(f"2 X {i} = {i*2}")
    break

2 X 1 = 2

In [23]:
for i in range(1,11):
    print(f"2 X {i} = {i*2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [24]:
for i in range(1, 11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

# pass

In [25]:
for i in range(1,1000):

SyntaxError: incomplete input (<ipython-input-25-1fe47a15d1f7>, line 1)

In [26]:
for i in range(1,1000):
    pass

In [28]:
def abc(a :int , b:int ) -> int :
    pass

In [29]:
if True:
    pass

print("pakistan")
print("Second")

pakistan
Second

In [30]:
if True:
    name : str = input("Your name?")
    print(name)

Your name?eman
eman

In [31]:
if False:
    name : str = input("Your name?")
    print(name)

In [32]:
print(1 + 7 + 3 + 4)

15

In [33]:
print(1 + 7 \
      + 3\
         + 4)

15

In [34]:
prompt = """If you share your name, we can personalize the messages you see.\
What is your first name? """


name = input(prompt)
print(f"\nHello, {name}!")

If you share your name, we can personalize the messages you see.What is your first name? eman

Hello, eman!

In [35]:
age:str = input("How old are you? ")
age >= 18

How old are you? 18

TypeError: '>=' not supported between instances of 'str' and 'int'

In [36]:
age:int = int(input("How old are you? "))
age >= 18

How old are you? 18

True

In [37]:
data : list[int] = [1,3,5,6,3,15,18]
[i  for i in data if i%2==0]

[6, 18]

In [38]:
current_number = 0
while current_number < 10:
    current_number += 1
    if current_number % 2 != 0:
        continue
    print(current_number)

2
4
6
8
10

In [39]:
data : list[int] = [1,3,5,6,3,15,18]
[i  for i in data if i%2!=0]

[1, 3, 5, 3, 15]

In [40]:
current_number = 0
while current_number < 10:
    current_number += 1
    if current_number % 2 == 0:
        continue
    print(current_number)

1
3
5
7
9

In [41]:
prompt = "\nTell me something, and I will repeat it back to you:"
prompt += "\nEnter 'quit' to end the program. "
message = ""
while message != 'quit':
    message = input(prompt)
    print(message)

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program. a
a

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program. b
b

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program. c
c

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program. d
d

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program. quite
quite

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program. quit
quit

In [ ]:
unconfirmed_users : list[str] = ['alice', 'brian', 'candace']
confirmed_users : list[str] = []
while unconfirmed_users:
    current_user = unconfirmed_users.pop()
    print(f"Verifying user: {current_user.title()}")
    confirmed_users.append(current_user)
print("\nThe following users have been confirmed:")
for confirmed_user in confirmed_users:
    print(confirmed_user.title())

In [47]:
prompt:str = "\nTell me something, and I will repeat it back to you:"
prompt += "\nEnter 'quit' to end the program. "


active = True

while active:
    message = input(prompt)
    if message == 'quit':
        active = False
    else:
        print(message)

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program. a
a

Tell me something, and I will repeat it back to you:
Enter 'quit' to end the program. quit

In [44]:
a = 10

while a:
    print("abc")
    break

abc

In [45]:
data : list[int] = [1,2,3]

while data:
    n : int = data.pop()
    print(n)

3
2
1

In [46]:
pets = ['dog', 'cat', 'dog', 'goldfish', 'cat', 'rabbit', 'cat']
print(pets)

while 'cat' in pets:
    pets.remove('cat')
print(pets)

['dog', 'cat', 'dog', 'goldfish', 'cat', 'rabbit', 'cat']
['dog', 'dog', 'goldfish', 'rabbit']