#Function

*  pre-define function
      *  provided by in language
*  user-define function
      *  custom function
  
## Similar properties on both type

* Return and None-return function
      * Return   
          * we can assign this function output in any variable  
      *  None-Return
          * only run we can't assign value to variable  
# components
* function declaration  
* function body
* function calling  
## Syntax function
 * def function_name(param1:type, param2:type,...)->Return_type:
    * function_body
 * function_name(arg1,arg2)
# Syntaxt lambda function
* one line function
* without name
* only use in this line
      
       lambda param1,param2 : function_body

# Pre-define function

* print
* len
* id
* dir
* chr
* ord
* exec

# Return and None-return function

In [ ]:
a : str = print("Pakistan")

display(a)

Pakistan

None

In [ ]:
a : int = len("Pakistan")

display(a)

8

In [ ]:
print("aa")
print(len('aaa'))

aa
3

# **components*
*  function declaration
    * function name
    * parameters
      * param : type
    * return output type
*  function body
    * any businuess logic write here
* function calling
    * function(arg1,arg2)

# Syntax function

def function_name(param1:type, param2:type,...)->Return_type: # declaration
   *  function_body # body

function_name(arg1,arg2) # calling

# Create simple function without any argument (defualt function)**bold text**

In [ ]:
def piaic()->None:
    print("PIAIC Generative Artificial Intelligence")
    print("Python Crash course")
piaic()

PIAIC Generative Artificial Intelligence
Python Crash course

In [ ]:
piaic()
piaic()

PIAIC Generative Artificial Intelligence
Python Crash course
PIAIC Generative Artificial Intelligence
Python Crash course

In [ ]:
piaic()
piaic()
piaic()
piaic()

PIAIC Generative Artificial Intelligence
Python Crash course
PIAIC Generative Artificial Intelligence
Python Crash course
PIAIC Generative Artificial Intelligence
Python Crash course
PIAIC Generative Artificial Intelligence
Python Crash course

# Required parameters functions

In [ ]:
def add_two_numbers(num1 : int , num2 : int)->int:
    return num1 + num2

add_two_numbers(7,20)

27

In [ ]:
add_two_numbers(7)

TypeError: add_two_numbers() missing 1 required positional argument: 'num2'

In [ ]:
add_two_numbers(7,5)

12

In [ ]:
def add_two_numbers(num1 : int , num2 : int)->int:
    print(f"num1 value {num1} and num 2 value {num2}")
    return num1 + num2

add_two_numbers(7,20)

num1 value 7 and num 2 value 20

27

In [ ]:
def add_two_numbers(num1 : int , num2 : int)->int:
    print(f"num1 value {num1} and num 2 value {num2}")
    return num1 + num2

add_two_numbers(num2=7,num1=20)

# fucntion with optional parameters

In [ ]:
def add_two_numbers(num1: int, num2:int = 0) -> int:
    print(num1, num2)
    return num1 + num2

add_two_numbers(2)

2 0

2

In [ ]:
def add_two_numbers(num1: int, num2:int = 0) -> int:
    print(num1, num2)
    return num1 + num2

add_two_numbers(7,2)

7 2

9

# Syntaxt lambda function
* one line function
* without name
* only use in this line

     lambda param1,param2 : function_body

In [ ]:
a = lambda num1, num2 : num1 + num2

a(7,8)

15

In [ ]:
data : list[int] = [1,2,3,4,5,6,7,8,9,10]

data = list(map(lambda x:x**2 , data))

data

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
data : list[int] = [1,2,3,4,5,6,7,8,9,10]

data = list(filter(lambda x:x%2==0 ,data))

data

[2, 4, 6, 8, 10]

In [ ]:
from typing import Callable

add: Callable[[int, int], int] = lambda x, y: x + y
result = add(10, 20)
print(result)

30

In [ ]:
data:list[int] = list(filter(lambda x:x%2==0 ,range(1,101)))
data

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

# Generator Function
* iterate on element one by one
* stop after each iteration
* remember old iteration value (last iterate value)
* next iterate
      *  go farward from last iterate value

In [ ]:
def my_range(start:int , end:int , step: int=1):
    for i in range(start,end+1,step):
        yield i


a = my_range(1,10)
print(a)
print(list(a))

<generator object my_range at 0x7dc105c9dbd0>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
a = my_range(1,10)
print(a)
print(next(a))
print(next(a))
print(next(a))
print("Pakistan")
print(next(a))

<generator object my_range at 0x7dc105c9daf0>
1
2
3
Pakistan
4

In [2]:
from collections.abc import Iterator

MyDictT = dict[str, object]

def yield_func() -> Iterator[MyDictT]:
    a: MyDictT = {}
    b: MyDictT = {}
    ...
    yield a
    yield b

In [3]:
from collections.abc import Iterator

def my_range(start:int , end:int , step: int=1)->Iterator[int]:
    for i in range(start,end+1,step):
        yield i


iterator_variable = my_range(1,10)

print(next(iterator_variable))
print(next(iterator_variable))

1
2

In [4]:
from collections.abc import Iterator

def my_range(start:int , end:int , step: int=1)->Iterator[int]:
    for i in range(start,end+1,step):
        yield i


iterator_variable : Iterator[int] = my_range(1,10)

print(next(iterator_variable))
print(next(iterator_variable))

print(type(iterator_variable))

1
2
<class 'generator'>

In [5]:
for i in iterator_variable:
    print(i)

3
4
5
6
7
8
9
10

In [6]:
dir(a)

['__class__',
 '__del__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__lt__',
 '__name__',
 '__ne__',
 '__new__',
 '__next__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'close',
 'gi_code',
 'gi_frame',
 'gi_running',
 'gi_yieldfrom',
 'send',
 'throw']

# pass unlimited arguments

In [7]:
def abc(*nums):
    print(nums, type(nums))
    total = 0
    for n in nums:
        total += n

    return total


abc(1,2,3,3,5,6)

(1, 2, 3, 3, 5, 6) <class 'tuple'>

20

In [8]:
from typing import Tuple

def greet(*names: Tuple[str, ...]) -> None:
    """
    This function greets all persons in the names tuple.
    """
    for name in names:
        print("Hello", name)

greet("Monica", "Luke", "Steve", "John","Sir Zia", "Muhammad Qasim")

Hello Monica
Hello Luke
Hello Steve
Hello John
Hello Sir Zia
Hello Muhammad Qasim

In [9]:
from typing import Dict

def greet(**xyz: Dict[str,str]) -> None:
    print(xyz)

greet(a="pakistan", b='China')

{'a': 'pakistan', 'b': 'China'}

In [10]:
def xyz(**kargs):
    print(kargs, type(kargs))


xyz(a=7, b=20, c=30, x=1,y=2 , name="Muhammad Qasim")

{'a': 7, 'b': 20, 'c': 30, 'x': 1, 'y': 2, 'name': 'Muhammad Qasim'} <class 'dict'>

In [11]:
def my_function(a, b, *abc, **xyz):
    print(a,b, abc, xyz)

my_function(1,2, 7,9,9,9, c=20, d= 30, x=100)

1 2 (7, 9, 9, 9) {'c': 20, 'd': 30, 'x': 100}

In [12]:
def my_function(a:int, b:int, *abc:Tuple[int, ...], **xyz:Dict[str,int]):
    print(a,b, abc, xyz)

my_function(1,2, 7,9,9,9, c=20, d= 30, x=100)

1 2 (7, 9, 9, 9) {'c': 20, 'd': 30, 'x': 100}

In [13]:
def my_function(a: int, b: int, *abc: int, **xyz: int) -> None:
    print(a, b, abc, xyz)

my_function(1, 2, 7, 9, 9, 9, c=20, d=30, x=100)

1 2 (7, 9, 9, 9) {'c': 20, 'd': 30, 'x': 100}

In [14]:
from typing import Callable

def my_decorator(func: Callable[[], None])-> Callable[[], None]:
    def wrapper():
        print("Something is happening before the function is called.")
        func()
        print("Something is happening after the function is called.")
    return wrapper

@my_decorator
def say_hello():
    print("Hello!")

say_hello()

Something is happening before the function is called.
Hello!
Something is happening after the function is called.

In [15]:
from typing import Callable

def my_decorator(func: Callable[[int], None]) -> Callable[[int], None]:
    def wrapper(num1: int) -> None:
        print("Something is happening before the function is called.")
        func(num1)
        print("Something is happening after the function is called.")
    return wrapper

@my_decorator
def say_hello(num1: int) -> None:
    print(num1)

say_hello(100)

Something is happening before the function is called.
100
Something is happening after the function is called.

In [16]:
def factorial(x: int) -> int:
    """This is a recursive function
    to find the factorial of an integer"""
    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))
        #       5*4*3*2*1

num = 5
print("The factorial of", num, "is", factorial(num))

The factorial of 5 is 120

In [17]:
5*4*3*2*1

120