#list


* iteration operation with loop
*apply any operation on elemant

In [ ]:
names : list[str] = ["eman","ali","hassan"]
print(names)

['eman', 'ali', 'hassan']

In [ ]:
names : list[str] = ["eman","ali","hassan"]
for name in names:
    print(name)

eman
ali
hassan

In [ ]:
names : list[str] = ["eman","ali","hassan"]
i:int = 0 # counter = 0

while i<len(names): # names length =3
    print(names[i])
    i += 1

eman
ali
hassan

In [ ]:
names : list[str] = ["eman","ali","hassan"]
for name in names:
    print(f'Welcome Dear Tacher {name.title()}')

Welcome Dear Tacher Eman
Welcome Dear Tacher Ali
Welcome Dear Tacher Hassan

In [ ]:
names : list[str] = ["eman","ali","hassan"]
for name in names:
    print(f'Welcome Dear Tacher {name.title()}')
    print("PIAIC Gen AI Tea\n")

Welcome Dear Tacher Eman
PIAIC Gen AI Tea

Welcome Dear Tacher Ali
PIAIC Gen AI Tea

Welcome Dear Tacher Hassan
PIAIC Gen AI Tea

In [ ]:
names : list[str] = ["eman","ali","hassan"]
for name in names:
    print(f'Welcome Dear Tacher {name.title()}')
    print("PIAIC Gen AI Team\n")

print("Pakistan zinda bad")

Welcome Dear Tacher Eman
PIAIC Gen AI Team

Welcome Dear Tacher Ali
PIAIC Gen AI Team

Welcome Dear Tacher Hassan
PIAIC Gen AI Team

Pakistan zinda bad

In [ ]:
names : list[str] = ["eman","ali","hassan"]
for name in names[-2:]:
    print(f'Welcome Dear Tacher {name.title()}')
    print("PIAIC Gen AI Team\n")

print("Pakistan zinda bad")

Welcome Dear Tacher Ali
PIAIC Gen AI Team

Welcome Dear Tacher Hassan
PIAIC Gen AI Team

Pakistan zinda bad

In [ ]:
names : list[str] = ["eman","ali","hassan"]
for name in names[2:]:
    print(f'Welcome Dear Tacher {name.title()}')
    print("PIAIC Gen AI Team\n")

print("Pakistan zinda bad")

Welcome Dear Tacher Hassan
PIAIC Gen AI Team

Pakistan zinda bad

In [ ]:
names : list[str] = ["eman","ali","hassan"]
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names[::-1]:
    print(f'Welcome Dear Tacher {name.upper()}')
    print("PIAIC Gen AI Team\n")
print("Pakistan zinda bad\n")

Welcome Dear Tacher DR NOMAN
PIAIC Gen AI Team

Welcome Dear Tacher MUHAMMAD QASIM
PIAIC Gen AI Team

Welcome Dear Tacher SIR ZIA
PIAIC Gen AI Team

Pakistan zinda bad

In [ ]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]

for row in data_base:
    print(row)

('qasim', '123')
('sirzia', '345')
('ikhlas', '789')

In [ ]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]

for row in data_base:
    user, password = row
    print(user, password)

qasim 123
sirzia 345
ikhlas 789

In [ ]:
input_user : str = input("Enter user name")
print(input_user)

Enter user nameAnzala
Anzala

In [ ]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]
input_user : str = input("Enter user name")
input_password : str = input("Enter user password")



for row in data_base:
    user, password = row
    if input_user == user and input_password == password:
        print("Valid User")
        break

Enter user nameqasim
Enter user password123
Valid User

In [ ]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]
input_user : str = input("Enter user name")
input_password : str = input("Enter user password")



for row in data_base:
    user, password = row
    if input_user == user and input_password == password:
        print("Valid User")
        break

Enter user nameqasim
Enter user password123
Valid User

In [ ]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]
input_user : str = input("Enter user name")
input_password : str = input("Enter user password")



for row in data_base:
    user, password = row # ("qasim",'123')
    if input_user == user and input_password == password:
        print("Valid User")
        break
else:
    print("Not found or Invalid user name")

Enter user nameanzala
Enter user password456
Not found or Invalid user name

In [ ]:
data_base : list[tuple[str,str]] = [("qasim",'123'),
                                    ("sirzia",'345'),
                                    ('ikhlas','789')
                                    ]
input_user : str = input("Enter user name")
input_password : str = input("Enter user password")



for row in data_base:
    user, password = row # ("qasim",'123')
    if input_user == user and input_password == password:
        print("Valid User")
        break
else:
    print("Not found or Invalid user name")

Enter user nameqasim
Enter user password123
Valid User

In [ ]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)
else:
    print("Hello world")

Sir Zia
Muhammad Qasim
DR Noman
Hello world

In [ ]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)
    break

Sir Zia

In [ ]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)
    break
else:
    print("Hello world")

Sir Zia

In [ ]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
    print(name)
print("Hello world")

Sir Zia
Muhammad Qasim
DR Noman
Hello world

In [ ]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names:
print(name)

IndentationError: expected an indented block after 'for' statement on line 3 (<ipython-input-24-c114a3ba4e9a>, line 4)

In [ ]:
names:list[str] = ['Sir Zia', "Muhammad Qasim", "DR Noman"]

for name in names
print(name)

SyntaxError: expected ':' (<ipython-input-25-48865745289d>, line 3)

In [ ]:
magicians: list[str] = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")


print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

In [ ]:
message = "Hello Python world!"
    print(message)

IndentationError: unexpected indent (<ipython-input-27-b60e1942954d>, line 2)

In [ ]:
message = ("Hello Python world!")
    print(message)

IndentationError: unexpected indent (<ipython-input-28-48fd2bdef801>, line 2)

In [ ]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")


print("Thank you everyone, that was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

David, that was a great trick!
I can't wait to see your next trick, David.

Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you everyone, that was a great magic show!

In [ ]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
    print(f"I can't wait to see your next trick, {magician.title()}.\n")

    print("Thank you everyone, that was a great magic show!")

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

Thank you everyone, that was a great magic show!
David, that was a great trick!
I can't wait to see your next trick, David.

Thank you everyone, that was a great magic show!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you everyone, that was a great magic show!

## Number with loop

*   range(start,end,step)

In [ ]:
range(10)

range(0, 10)

In [ ]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
list(range(2,100))

[2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [ ]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:
for n in range(1,11):
    print(n)

1
2
3
4
5
6
7
8
9
10

In [ ]:
for n in range(10,11):
    print(n)

10

In [ ]:
for n in range(1,11):
    print(f"{2} X {n} = {n*2}")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [ ]:
squares:list[int] = []
for value in range(1, 11):
    square = value ** 2
    squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List comprehensive

    for item in items_list:  
     loop_body
#Comprehensive Style
     [loop_body for item in items_list]

In [ ]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [ ]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
'line1'
'line2'
'line3'

'line3'

In [ ]:
print('line1')
print('line2')
print('line3')

line1
line2
line3

In [ ]:
digits:list[int] = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

print(digits)
print(max(digits))
print(min(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
9
0
45

In [ ]:
my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:] # deep copy

print(my_foods)
print(friend_foods)

friend_foods[0] = "Tikka"

print(my_foods)
print(friend_foods)

['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['pizza', 'falafel', 'carrot cake']
['Tikka', 'falafel', 'carrot cake']

# Tuples

In [ ]:
names:tuple[str] = ('A',"B",'C')
print(names[0])
print(names[0:2])

A
('A', 'B')

In [ ]:
names:tuple[str] = ('A',"B",'C')

names[0] = "Pakistan"

TypeError: 'tuple' object does not support item assignment

In [ ]:
names:tuple[str] = ('A',"B",'C')

names:tuple[str] = ('Pakistan',"B",'C')

print(names)

('Pakistan', 'B', 'C')

In [ ]:
from typing import Any
data : tuple[Any] = ("A",[1,2,3], True)

print(data)

('A', [1, 2, 3], True)

In [ ]:
from typing import Any
data : tuple[Any] = ("A",[1,2,3], True)

print(data)

('A', [1, 2, 3], True)

In [ ]:
data : tuple[Any] = ("A",[1,2,3], True)

print(data[1])
data[1].append(20)
print(data)

[1, 2, 3]
('A', [1, 2, 3, 20], True)

In [ ]:
a  = input("abc") # return string type
print(type(a))
print(a)

abc123
<class 'str'>
123

In [ ]:
sorted([7,8,1,3])

[1, 3, 7, 8]