#Mutable vs. Immutable

In [ ]:
list_a: list[int] = [1, 2, 3]
list_b = list_a
list_a.append(4)
print("list_b:", list_b)

list_b: [1, 2, 3, 4]

https://www.linkedin.com/pulse/understanding-pass-by-value-vs-pass-by-reference-elhousieny-phd%E1%B4%AC%E1%B4%AE%E1%B4%B0/

In [ ]:
num_a:int = 5
num_b = num_a
num_a += 1
print("num_b:", num_b)

num_b: 5

# Addressing Changes without Function Calls

In [ ]:
x = 10
print("Before modification:", x, id(x))
x += 1
print("After modification:", x, id(x))

Before modification: 10 139245924483600
After modification: 11 139245924483632

In [ ]:
a: list[int] = [1, 2, 3]
def abc(num1:int)->None:
    num1.append(200)
    print(f"num1 value is {num1}")
abc(a)

print(a)

num1 value is [1, 2, 3, 200]
[1, 2, 3, 200]

In [ ]:
a : int = 5
def abc(num1:int)->None:
  print(f"num1 value before {num1}")
  num1 = 6
  print(f"num1 value is {num1}")
abc(a)

print(f"origional value is {a}")

num1 value before 5
num1 value is 6
origional value is 5

In [ ]:
a : int = 5
def abc(num1:int)->None:
  print(f"num1 value before {num1}")
  num1 = 6
  print(f"num1 value is {num1}")
abc(a)

print(f"origional value is {a}")

num1 value before 5
num1 value is 6
origional value is 5

In [ ]:
a : int = 5
def abc(num1:int)->None:
  print(f"num1 value before {num1}")
  num1 = 6
  print(f"num1 value is {num1}")
abc(a)

print(f"origional value is {a}")

num1 value before 5
num1 value is 6
origional value is 5

In [ ]:
a : int = 5
def abc(num1:int)->None:
  print(f"num1 value before {num1}")
  num1 = 6
  print(f"num1 value is {num1}")
abc(a)

print(f"origional value is {a}")

num1 value before 5
num1 value is 6
origional value is 5

In [ ]:
a : int = 5

print(f"First Assignment of variable a value is {id(a)}")

def abc(num1:int)->None:
     print(f"\tValue of start of function {num1} address {id(num1)}")
     num1 = 6
     print(f"\tnum1 value end of function {num1} address {id(num1)}")
     print("\tEnd of program")


abc(a)

print(f"End of program variable value is {a} address of a {id(a)}")

First Assignment of variable a value is 139245924483440
	Value of start of function 5 address 139245924483440
	num1 value end of function 6 address 139245924483472
	End of program
End of program variable value is 5 address of a 139245924483440

In [ ]:
x : int = 7
b = x
print(f"X value is {x} and X address {id(x)}")
print(f"X value is {b} and X address {id(b)}")
b = 200
print(f"X value is {b} and X address {id(b)}")

X value is 7 and X address 139245924483504
X value is 7 and X address 139245924483504
X value is 200 and X address 139245924489680

In [ ]:
x : int = 7
b : int = 7
print(f"X value is {x} and X address {id(x)}")
print(f"X value is {b} and X address {id(b)}")
b = 200
print(f"X value is {b} and X address {id(b)}")

X value is 7 and X address 139245924483504
X value is 7 and X address 139245924483504
X value is 200 and X address 139245924489680

In [ ]:
x : int = 7
b : int = int(7)
print(f"X value is {x} and X address {id(x)}")
print(f"X value is {b} and X address {id(b)}")
b = 200
print(f"X value is {b} and X address {id(b)}")

X value is 7 and X address 139245924483504
X value is 7 and X address 139245924483504
X value is 200 and X address 139245924489680

In [ ]:
a : list[int] = [1,2,3,4] # mutabl
b : list[int] = [1,2,3,4 ]

print(id(a))
print(id(b))

139245493986176
139245008030080

In [ ]:
a : list[int] = [1,2,3,4]
def abc(num1:list[int])->None:
    num1:list[int] = [7]
    num1.append(200)
    print(f"num1 value is {num1}")

abc(a)

print(a)

num1 value is [7, 200]
[1, 2, 3, 4]

In [ ]:
a : list[int] = [1,2,3,4]
def abc(num1:list[int])->None:
    num1:list[int] = [1,2,3,4]
    num1.append(200)
    print(f"num1 value is {num1}")
abc(a)
print(a)

num1 value is [1, 2, 3, 4, 200]
[1, 2, 3, 4]

# Run time Error

In [ ]:
a : int = int(input("Enter number1:\t"))
b : int = int(input("Enter number2:\t"))

print(a / b)

Enter number1:	5
Enter number2:	5
1.0

In [ ]:
a : int = int(input("Enter number1:\t"))
b : int = int(input("Enter number2:\t"))

print(a / b)

Enter number1:	4
Enter number2:	7
0.5714285714285714

In [ ]:
a : int = int(input("Enter number1:\t"))
b : int = int(input("Enter number2:\t"))

print(a / b)

Enter number1:	7
Enter number2:	0

ZeroDivisionError: division by zero

In [ ]:
names:list[str] = ['Sir Zia',"Sir Inam","Muhammad Qasim"]

indx : int = int(input("Enter index number:\t"))
print(names[indx])

Enter index number:	0
Sir Zia

In [ ]:
names:list[str] = ['Sir Zia',"Sir Inam","Muhammad Qasim"]

indx : int = int(input("Enter index number:\t"))
print(names[indx])

Enter index number:	345

IndexError: list index out of range

In [ ]:
"2" + 2

TypeError: can only concatenate str (not "int") to str

In [ ]:
data : dict[str,str] = {
    "name":"Muhammad Qasim",
    "education": "MSDS"
}

data['father name']

KeyError: 'father name'

In [ ]:
open("abc.txt")

FileNotFoundError: [Errno 2] No such file or directory: 'abc.txt'

# Handle Run time error
"""
try:

    logic

except (Error_class1, Error_class2):

    if error accured then run this block

else:

    if error not accured

finally:

    always run
    

"""

In [ ]:
print("logic1")
print("logic2")
print(5/0)
print("logic4")
print("logic5")

logic1
logic2

ZeroDivisionError: division by zero

In [1]:
print("logic1")
print("logic2")
try:
    print(5/0)
except ZeroDivisionError:
    print("Zerro Division Error!")
print("logic4")
print("logic5")

logic1
logic2
Zerro Division Error!
logic4
logic5

In [2]:
print("logic1")
print("logic2")
try:
    print(5/0)
except ZeroDivisionError:
    pass
print("logic4")
print("logic5")

logic1
logic2
logic4
logic5

In [3]:
l1 : list[int] = [1,2,3]
l1[200]

IndexError: list index out of range

In [4]:
print(xyz)

NameError: name 'xyz' is not defined

In [5]:
print("logic1")
print("logic2")

l1 : list[int] = [1,2,3]

try:
    print(5/0)
    print(l1[0])
    print(xyz)


except (ZeroDivisionError,IndexError):
    print("Zerro Division Error!")
print("logic4")
print("logic5")

logic1
logic2
Zerro Division Error!
logic4
logic5

In [6]:
print("logic1")
print("logic2")

l1 : list[int] = [1,2,3]

try:
    print(5/2)
    print(l1[0])
    print(xyz)
except (ZeroDivisionError,IndexError,NameError):
    print("Zerro Division Error!")
print("logic4")
print("logic5")

logic1
logic2
2.5
1
Zerro Division Error!
logic4
logic5